@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif !important;
  background-color: #f907fc;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
  background-attachment: fixed;
}

input {
  background: transparent !important;
  border: 1px solid #f907fc !important;
}

textarea {
  background: transparent !important;
  border: 1px solid #f907fc !important;
}

.imgfix {
  width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  margin-bottom: 5vh;
}

.nav-link {
  cursor: pointer;
}

/* Pc Navbar */
.mobile-navbar {
  display: none;
}

.navbar {
  font-weight: 700 !important;
  font-size: 22px;
  text-align: center;
}

.active {
  color: #d905dc !important;
  /* font-style: italic; */
}

.logo {
  width: 100%;
  height: auto;
  max-width: 40px;
}

.logotext {
  display: flex !important;
}

.mob-head {
  display: none;
}


/* Mob Navbar */

@media only screen and (max-width: 992px) {
  .mob-head {
    display: block;
    color: #f907fc;
    font-weight: 700 !important;
    margin-bottom: 20px;
  }

  .mob-logo {
    width: 100%;
    height: auto;
    max-width: 40px;
  }

  .pc-navbar {
    display: none !important;
  }

  .active {
    color: aquamarine !important;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    background-attachment: fixed;
    /* bottom: 10px !important; */
    padding-top: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 4px 15px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 15px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  }

  body {
    margin-top: 5vh !important;
  }
}

.icons {
  font-size: 30px !important;
  display: flex !important;
  justify-content: space-around;
}

/* Features */
.card {
  background-color: #f6d327;
  background-image: linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
  margin-bottom: 5vh;
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 20px !important;
  -webkit-box-shadow: 1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  min-height: 750px;
}

.card-img-top {
  background-color: bisque;
  padding: 40px;
  border-radius: 20px;
}

@media only screen and (max-width: 992px) {
  .card {
    min-height: 0;
  }

  .card-img-top {
    padding: 5px;
    max-height: 400px;
  }
}

/* Footer */
.footer h5 {
  font-weight: 700 !important;
  margin-bottom: 20vh !important;
}

/* Vertically Align Centre */
.outer {
  display: table;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  /* max-width: 400px; */
}